body{
    width: 480px;
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: 75px 150px 125px 125px 250px, 250px, 80px;
    margin-right: auto;
    margin-left: auto;
}

.container{
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

/*desktopish view, more like tablet landscape I think*/

@media all and (min-width: 960px){

    body{
        width: 960px;
        display: grid;
        grid-template-columns: 200px 190px 190px 190px 190px;
        grid-template-rows: 100px 200px 250px 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .container{
        box-sizing: border-box;
        border-style: solid;
        border-width: 1px;
        border-color: black;
    }

}
